This is a notebook to pull down all the information for figure 3 (ncbi hits). The design is to compair between each sample (barcode) instead of each flowcell as they sequenced the same thing. Therefore I just pulled all the ncbi hits for each flowcell for each barcode and merged them together according to the barcode.

In [110]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
from itertools import product
import argparse
import subprocess
import itertools
from ete3 import NCBITaxa

In [111]:
ncbi = NCBITaxa()

In [112]:
# use argparse to do this later

Q_filter_csv_dir = '/home/yiheng/test/analysis/175831_basecalling_1d_barcode-v1.csv'
WIMP_csv_dir = '/home/yiheng/test/analysis/175831_classification_wimp_v2-v1.csv'
BASEDIR = '/home/yiheng/test'

# here we define the folder name of the dataframe it created by capturing the folder from the BASDIR
folder_name = os.path.basename(BASEDIR)
#column_name = folder_name.split('_')[-1]

In [113]:
# first check if the analysis folder is there
folder_list = 'analysis  basecalled_data  scripts  tracking  workspace'.split(' ')
for x in range(0,folder_list.count('')):
    folder_list.remove('')
#fix this test
if not set(os.listdir(os.path.abspath(BASEDIR))) == set (folder_list):
    print("Something wrong with basefolder. check it please.")

In [114]:
# get the dataframe there
Q_filter_csv_df = pd.read_csv(Q_filter_csv_dir, sep=',')
WIMP_csv_df = pd.read_csv(WIMP_csv_dir, sep=',')

In [115]:
Q_filter_csv_df = Q_filter_csv_df.drop(columns=['filename', 'runid', 'start_time', 'exit_status'])

In [116]:
Q_filter_csv_df.head()

                                read_id barcode  seqlen  mean_qscore
0  f7d822b4-e042-4b0b-b384-e7ca3d71d756    BC07     593        7.936
1  1911b744-9cda-4c05-a710-0b31d4cd26f1    BC07     408        7.824
2  e6a97a9a-8c2c-4e76-9337-e6d4486b2166    BC07     374        7.746
3  9799eb5c-19d9-482f-8cda-25f591a9d524    BC07     895        7.937
4  129ced71-ca6f-4d81-a5ca-519f60c5a883    BC07     751        7.778

In [117]:
WIMP_csv_df = WIMP_csv_df.drop(columns=['filename', 'runid', 'exit_status'])

In [118]:
WIMP_csv_df = WIMP_csv_df[(WIMP_csv_df.name != 'Homo sapiens') & (WIMP_csv_df.taxID > 0) & (WIMP_csv_df.barcode == 'BC07')]

In [143]:
final_df = pd.merge(Q_filter_csv_df, WIMP_csv_df,how='outer',left_on= 'read_id', right_on='readid')

In [144]:
final_df.taxID.fillna(value = False, inplace=True)
final_df = final_df[final_df.taxID != False]
final_df = final_df.drop(columns=['barcode_y', 'readid', 'score', 'lineage'])
final_df = final_df.reset_index(drop=True)

In [145]:
# as the concate before will result the staxid into a string
# so now change the string back to float so it can be recognized by the NCBITaxa
for taxid in final_df['taxID']:
    if ';' in str(taxid):
        taxid = taxid.split(';')[0]

    else:
        pass
    float(taxid)

In [146]:
#Function to generate taxonomy columns based on NCBITaxa results for NCBI hit dataframe, 
def search_rank_output_name_append_column(df, staxid_column, rank_search):
    """Input df, staxid_column from same df and rank_search (a desired taxonomic rank 
    from each staxid's lineage), outputs taxonomic name corresponding to rank_search or 'Unclassified' if
    unavailable and appends to df row by row"""
    rank_list = []
    for read_index in range(0, len(staxid_column)):
        taxid = ''
        #if ';' in staxid_column[read_index]:
        #    taxid = staxid_column[read_index].split(';')[0]
################# BE CAREFUL HERE !!! #######################################
#            df.loc[staxid_column =='71426;73839', 'staxids_nt'] = 73839
        #else:
        taxid = staxid_column[read_index]
        
        
        taxid_lineage = ''
        taxid_lineage = ncbi.get_lineage(taxid)
        
        names = ''
        names = ncbi.get_taxid_translator(taxid_lineage)
        
        ranks = ''
        ranks = ncbi.get_rank(taxid_lineage) #Dict
        
        ranks2names = ''
        ranks2names = {ranks[k]:names[k] for k in names.keys() & ranks}
        
        if rank_search in ranks2names.keys():
            rank_list.append(ranks2names[rank_search])#if rank in dict, print name
        else:
            rank_list.append('Unclassified')
    df[rank_search] = rank_list
# NOTE: Appending is always slow, try and find a better way e.g df.apply to a column based on staxids column

In [147]:
#ntblasthit_reads_filtered_barcodes_added_TaxaRank = ntblasthit_reads_filtered_barcodes.copy()
# pretty slow
rank_list = ['superkingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']
for rank in rank_list:
    search_rank_output_name_append_column(final_df, 
                                          final_df.taxID, 
                                          rank)

In [150]:
final_df.head()

,read_id,barcode_x,seqlen,mean_qscore,taxID,name,superkingdom,phylum,class,order,family,genus,species
0,5b140116-5aa5-494b-b08a-d395afd8c4f0,BC07,484,9.808,214684,Cryptococcus neoformans var. neoformans JEC21,Eukaryota,Basidiomycota,Tremellomycetes,Tremellales,Cryptococcaceae,Cryptococcus,Cryptococcus neoformans
1,6efbea61-2b43-4d4d-bfc4-7ea74f21c919,BC07,938,8.303,425265,Malassezia globosa CBS 7966,Eukaryota,Basidiomycota,Malasseziomycetes,Malasseziales,Malasseziaceae,Malassezia,Malassezia globosa
2,eb5ed677-64c2-4e7e-8f0c-ce6075e58838,BC07,566,8.057,33154,Opisthokonta,Eukaryota,Unclassified,Unclassified,Unclassified,Unclassified,Unclassified,Unclassified
3,0abf969f-82b6-4c29-a74f-9a25aa69785c,BC07,836,8.466,1313,Streptococcus pneumoniae,Bacteria,Firmicutes,Bacilli,Lactobacillales,Streptococcaceae,Streptococcus,Streptococcus pneumoniae
4,ee9f3e61-be07-4837-a0a0-fc49b367d6d3,BC07,508,10.149,1313,Streptococcus pneumoniae,Bacteria,Firmicutes,Bacilli,Lactobacillales,Streptococcaceae,Streptococcus,Streptococcus pneumoniae

In [153]:
final_df.to_csv(r'/home/yiheng/test/analysis/%s_barcode07_nomammal_WIMPtaxa.tab' % folder_name, header='clinical_2', index=None, sep='\t')